// reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  overflow: auto;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #666;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
}

input,
select,
button,
textarea {
  margin: 0;
  font-size: 100%;
  color: #666;
}

input,
a {
  outline: none;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

input[type='radio'] {
  vertical-align: text-bottom;
}

input::-ms-clear {
  display: none;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

body {
  line-height: 1.2;
}

label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

hr {
  color: #e0e0e0;
  background-color: #e0e0e0;
  border: 0px none;
  height: 1px;
  clear: both;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}